/*SEVERAL SECTIONS/PAGES*/
*{
    margin: 0;
    padding: 0;
}
h1 {
    text-align: center;
    padding: 3%;
    color: #FFCB9A;
    font-family: 'Courier New', Courier, monospace;
}

/*NAV*/

.nav{
    height: 70px;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 99;
    background-color: #116466;
    border-bottom: solid 3px #D1E8E2;
}
.nav-link{
    color: #D1E8E2 !important;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    transition: .25s;
}
.nav-link:hover{
    color: #FFCB9A !important;
}

/*280 — 767px: Mobile devices, iPads, Tablets*/
@media only screen and (min-width: 280px) and (max-width: 767px){
    .homelink{
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
    }
    .nav-item{
        background-color: #116466;
        padding-left: 5%;
        border: solid 2px #D1E8E2;
    }
    .resume{
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
    }
}
    
/*HOME*/

.home{
    padding-top: 70px;
    height: 100vh;
    background-color: #2C3531;
}
.portrait{
    border-radius: 50%;
    width: 300px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/*280 — 767px: Mobile devices, iPads, Tablets*/
@media only screen and (min-width: 280px) and (max-width: 767px){
    .home{
        height: auto;
        padding-bottom: 5%;
    }
    .portrait{
        width: 200px;
    }
}
    
/*481px — 768px: iPads, Tablets*/
@media only screen and (min-width: 481px) and (max-width: 768px){
    .home{
        height: auto;
        padding-bottom: 5%;
    }
    .portrait{
        width: 200px;
    }
}
    
/*769px — 1024px: Small screens, laptops*/
@media only screen and (min-width: 769px) and (max-width: 1024px){
    .portrait{
        width: 250px;
    }
    .home{
        height: auto;
        padding-bottom: 5%;
    }
}
/*1025px — 1280px: Desktops, Large Screens*/
@media only screen and (min-width: 1025px) and (max-width: 1280px){
    .home{
        height: auto;
        padding-bottom: 5%;
    }
}
    

/*ABOUT*/

.about{
    height: 100vh;
    background-color: #116466;
    padding-top: 70px;
}
.abtwrap{
    margin-left: 10%;
    margin-right: 10%;
    border-radius: 10px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: #D1E8E2;
    font-size: 1.3em;
}
/*280 — 767px: Mobile devices, iPads, Tablets*/
@media only screen and (min-width: 280px) and (max-width: 767px){
    .about{
        height: auto;
        padding-bottom: 5%;
    }
}
    
/*481px — 768px: iPads, Tablets*/
@media only screen and (min-width: 481px) and (max-width: 768px){
    .about{
        height: auto;
        padding-bottom: 5%;
    }
}

/*769px — 1024px: Small screens, laptops*/
@media only screen and (min-width: 769px) and (max-width: 1024px){
    .about{
        height: auto;
        padding-bottom: 5%;
    }
}

/*PROJECTS*/

.projects{
    height: auto;
    background-color: #2C3531;
    padding-top: 70px;
    padding-bottom: 5%;
}
.carousel{
    width: 60%;
    margin-left: 20%;
}
.caption{
    text-decoration: none;
    font-size: 1.5em;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: #116466;
    transition: .25s;
}
.caption:hover{
    color: #D1E8E2;
}
.carousel-caption{
    margin-bottom: 5%;
    background-color: rgba(255,203,154,.9);
    border-radius: 5px;
}
/*280 — 767px: Mobile devices, iPads, Tablets*/
@media only screen and (min-width: 280px) and (max-width: 767px){
    .carousel{
        width: 100%;
        margin-left: 0;
    }
    .carousel-caption{
        font-size: .75em;
    }
    .projects{
        height: auto;
    }
}
    
/*481px — 768px: iPads, Tablets*/
@media only screen and (min-width: 481px) and (max-width: 768px){
    .carousel{
        width: 80%;
        margin-left: 10%;
    }
    .carousel-caption{
        font-size: .75em;
    }
    .projects{
        height: auto;
    }
}
    
/*769px — 1024px: Small screens, laptops*/
@media only screen and (min-width: 769px) and (max-width: 1024px){
    .carousel{
        width: 80%;
        margin-left: 10%;
    }
}

/*CONTACT*/

.contact{
    height: 100vh;
    background-color: #116466;
    padding-top: 70px;
}
form{
    margin-left: 25% !important;
    background-color: #D9B08C;
    padding: 2%;
    border-radius: 10px;
    width: 50% !important;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

input{
    background-color: #D1E8E2 !important;
}
textarea{
    background-color: #D1E8E2 !important;
}
.sect{
    margin-bottom: 2%;
}
.submit{
    width: 20%;
    margin-top: 2%;
    border-radius: 5px;
    background-color: #FFCB9A;
    color:black;
    transition: .25s;
}
.submit:hover{
    background-color: #116466 !important;
    color:white;
}
footer{
    text-align: center;
    margin-top: 2%;
    color: #FFCB9A !important;
    border-top: #FFCB9A solid 3px;
    border-radius: 50%;
    font-family: 'Courier New', Courier, monospace;
}
.footcont{
    background-color: #116466;
}
.fa-linkedin{
    padding-right: 1%;
    text-decoration: none;
    color: #FFCB9A !important;
}
.fa-github{
    text-decoration: none;
    color: #FFCB9A !important;
}
.fa-envelope{
    padding-left: 1%;
    text-decoration: none;
    color: #FFCB9A !important;
    transform: scale(1.5);
}
.fa-phone-alt{
    color: #FFCB9A !important;
}
.copy{
    font-size: .75em;
}
.fa:hover{
    color: #D1E8E2 !important;
}
.fas{
    transition: .25s;
}
.fas:hover{
    color: #D1E8E2 !important;
}
/*280 — 767px: Mobile devices, iPads, Tablets*/
@media only screen and (min-width: 280px) and (max-width: 767px){
    .contact{
        height: auto;
    }
    form{
        width: 100% !important;
        margin: 0 !important;
    }
    .submit{
        width: 30%;
    }
    footer{
        margin-top: 14%;
        font-size: .75em;
    }
    .fa-linkedin{
        padding-right: 2%;
    }
    .fa-envelope{
        padding-left: 2%;
    }
}
    
/*481px — 768px: iPads, Tablets*/
@media only screen and (min-width: 481px) and (max-width: 768px){
    footer{
        margin-top: 2%;
    }
    form{
        width: 80% !important;
        margin-left: 10% !important;
    }
    .contact{
        height: auto;
    }
}
    
/*769px — 1024px: Small screens, laptops*/
@media only screen and (min-width: 769px) and (max-width: 1024px){
    footer{
        margin-top: 7%;
    }
    .contact{
        height: auto;
    }
}
/*1025px — 1280px: Desktops, Large Screens*/
@media only screen and (min-width: 1025px) and (max-width: 1280px){
    .contact{
        height: auto;
        padding-top: 0;
    }
}
    

/*SITE PAGES*/
.grey{
    background-color: #2C3531;
    padding-top: 70px;
}
.sitepic{
    width: 60%;
    margin-left: 20%; 
    margin-bottom: 5%;
    transition: .25s;
}
.sitepic:hover{
    transform: scale(1.1);
}
.description{
    color: #D1E8E2;
    width: 80%;
    margin-left: 10%;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 1.2em;
}
.date{
    color: #D1E8E2;
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 1.2em;
}
.sitelink{
    text-decoration: underline;
    color: #D1E8E2;
    transition: .25s;
}
.sitelink:hover{
    color: #FFCB9A;
}
/*280 — 767px: Mobile devices, iPads, Tablets*/
@media only screen and (min-width: 280px) and (max-width: 767px){
    .sitepic{
        width: 100%;
        margin: 0;
    }
    .description{
        margin-top: 5%;
    }
}
    
/*481px — 768px: iPads, Tablets*/
@media only screen and (min-width: 481px) and (max-width: 768px){
    .sitepic{
        width: 100%;
        margin: 0;
    }
    .description{
        margin-top: 5%;
    }
}
    
/*769px — 1024px: Small screens, laptops*/
@media only screen and (min-width: 769px) and (max-width: 1024px){
    .sitepic{
        width: 100%;
        margin: 0;
    }
    .description{
        margin-top: 15%;
        font-size: 1.5em;
        margin-bottom: 15%;
    }
}
